<nav class="site-nav">

    <div class="o-wrapper u-center">

		{% if page.home %}
        	<a class="site-nav__child site-nav__logo site-nav__logo--img" href="{{ site.baseurl }}/"><img class="site-logo" src="/img/codethink-logo.svg" alt=""></a>
        {% else %}
            <a class="site-nav__child site-nav__logo site-nav__logo--img" href="{{ site.baseurl }}/"><img class="site-logo" src="/img/codethink-logo.svg" alt=""></a>
            {% comment %}
            <!-- Android Browser has trouble with <object>, have to find a drifferent solution -->
        	<object class="site-nav__child site-nav__logo site-nav__logo--object" data="/img/codethink-logo-animated.svg" type="image/svg+xml"></object>
            {% endcomment %}
        {% endif %}

        <ul class="site-nav__child site-nav__list">
            <li class="site-nav__item"><a href="/ueberuns/" class="site-nav__link  site-nav__about">&Uuml;ber mich</a></li>
            <li class="site-nav__item"><a href="/preise/" class="site-nav__link  site-nav__pricing">Dienste und Preise</a></li>
        </ul>

    </div>

</nav>
