<nav class="site-nav u-padding-top-small u-padding-bottom-small">

    <div class="o-wrapper">

		{% if page.home %}
        	<a class="site-nav__logo" href="{{ site.baseurl }}/"><img class="site-logo" src="/img/codethink-logo.svg" alt=""></a>
        {% else %}
        	<object class="site-nav__logo" data="/img/codethink-logo-animated.svg" type="image/svg+xml"></object>
        {% endif %}

        <ul class="site-nav__list">
            <li class="site-nav__item"><a href="/ueberuns/" class="site-nav__link  site-nav__about">&Uuml;ber mich</a></li>
            <li class="site-nav__item"><a href="/preise/" class="site-nav__link  site-nav__pricing">Dienste und Preise</a></li>
        </ul>

    </div>

</nav>
