/* ==========================================================================
   #PANELS
   ========================================================================== */

// .c-panel__container {
//     &--outline {
//         border: 1px solid $color-brand-light;
//         border-radius: $global-radius;

//         > :not(:last-child) > .c-panel {
//             border-right: 1px solid $color-brand-light;
//         }
//     }
// }

.c-panel {
    @include shadow();
    background: $color-white;
    // filter: drop-shadow(0px 6px 18px rgba($color-black, .2));
    border-radius: $global-radius;
    padding: $inuit-global-spacing-unit;
    position: relative;

    > *:last-child {
        margin-bottom: 0 !important;
    }

    /* Variations */
    &--centering {
        text-align: center;
    }

    &--arrow-down::after {
        border-color: $color-white transparent;
        border-style: solid;
        border-width: 10px 10px 0;
        bottom: -10px;
        content: '';
        left: 12%;
        position: absolute;
    }


    /* Themes */
    &--primary {
        background: $gradient-primary;
        color: $color-white;
    }

    &--dark {
        background-color: $color-brand-dark;
        color: $color-brand-light;
    }

    &--flat {
        box-shadow: none;
    }

    &--outline {
        border: 1px solid $color-brand-light;
        border-radius: 0;
        box-shadow: none;
        margin-left: -1px;
        margin-top: -1px;
    }
}

    .c-panel__img {
        margin-bottom: $inuit-global-spacing-unit;
        text-align: center;
    }

    .c-panel__heading {
        // margin-bottom: $inuit-global-spacing-unit;

        &--primary {
            background: $gradient-primary;
            border-bottom: 1px solid #e6e6e6;
            border-radius: $global-radius $global-radius 0 0;
            color: $color-white;
            padding: ($inuit-global-spacing-unit * 2 / 3) $inuit-global-spacing-unit;
            margin-top: -$inuit-global-spacing-unit;
            margin-left: -$inuit-global-spacing-unit;
            margin-right: -$inuit-global-spacing-unit;
        }
    }

    .c-panel__content {
        font-size: .875em;
        opacity: .7;

        &--justified {
            text-align: justify;
        }
    }

    .c-panel__emphasis {
        // background: $color-light-gray;
        border-bottom: 1px solid $color-brand-primary;
        border-top: 1px solid $color-brand-primary;
        font-weight: 500;
        // margin: $inuit-global-spacing-unit-small (-$inuit-global-spacing-unit);
        margin-bottom: $inuit-global-spacing-unit;
        padding: $inuit-global-spacing-unit-tiny 0;
        text-align: center;
    }

    .c-panel__list {
        list-style: disc;
    }

    .c-panel__hr {
        border-color: $color-brand-primary;
    }

    .c-panel__arrow-down {
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid $color-white;
        bottom: -10px;
        height: 0;
        left: 12%;
        position: absolute;
        width: 0;
    }

    // .c-panel__footer {

    // }


.c-panel--skills {
    .c-panel__img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }
}
