/* ==========================================================================
   #PANELS
   ========================================================================== */

.c-panel {
    // background: $color-white;
    // filter: drop-shadow(0px 6px 18px rgba($color-black, .2));
    @include shadow();
    border-radius: $inuit-global-radius;
    padding: $inuit-global-spacing-unit;
    position: relative;

    &--orange {
        background: $gradient-orange;
        color: $color-white;
    }

    &--arrow-down::after {
        border-color: $color-white transparent;
        border-style: solid;
        border-width: 10px 10px 0;
        bottom: -10px;
        content: '';
        left: 12%;
        position: absolute;
    }
}

    .c-panel__img {
        text-align: center;
    }

    .c-panel__heading {
        font-weight: 300;
        margin-bottom: $inuit-global-spacing-unit-small;
    }

    .c-panel__content {
        font-size: .875em;
        opacity: .7;
    }

    .c-panel__arrow-down {
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 10px solid $color-white;
        bottom: -10px;
        height: 0;
        left: 12%;
        position: absolute;
        width: 0;
    }

    // .c-panel__footer {

    // }


.c-panel--skills {
    .c-panel__img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }
}
