/* ==========================================================================
   #SITE-FOOTER
   ========================================================================== */

.site-footer {
	background: $color-light-gray;
	overflow: auto; // Prevent margin collapse
	padding: 1.5rem 0 0;
}

	.site-footer__list {
		margin-bottom: 0;
	}
