/* ==========================================================================
   #BUTTONS
   ========================================================================== */

.c-btn {
    border: 2px solid $color-white;
    border-radius: $global-radius;
    color: $color-white;
    display: inline-block;
    font-size: 1.2em;
    padding: $inuit-global-spacing-unit-small $inuit-global-spacing-unit;
    text-shadow: 1px 1px 2px rgba($color-black, .3);
    transition: box-shadow .2s;

    @include hocus() {
        box-shadow: 0 0 80px rgba($color-black, .07) inset;
        color: $color-white;
        text-decoration: none;
    }

    &--primary {
        background: $gradient-primary;
        border: 0;
    }

    &--shaddow {
        @include shadow();
        @include hocus() {
            @include shadow(.2, false, 0 0 80px rgba($color-black, .07) inset);
        }
    }
}
