/* ==========================================================================
   #SITE-NAV
   ========================================================================== */
$nav-height: 80px;

.site-nav {
    border-bottom: 1px solid $color-brand-primary;

    .site-header--landing & {
        border: 0;
    }
}

    .site-nav__child {
        display: inline-block;
        max-height: $nav-height;
        padding-bottom: $inuit-global-spacing-unit-small;
        padding-top: $inuit-global-spacing-unit-small;

        // @include mq($from: tablet) {
        //     padding: $inuit-global-spacing-unit-small;
        // }
    }

    .site-nav__logo {
        background-color: $color-white;
        border-radius: 0 0 $global-radius $global-radius;
        padding-left: $inuit-global-spacing-unit-small;
        padding-right: $inuit-global-spacing-unit-small;

        @include mq($from: tablet) {
            float: left;
        }

        &--img img {
            max-height: $nav-height - $inuit-global-spacing-unit-small * 2;
        }
    }

    .site-nav__list {
        list-style: none;
        margin: 0;

        @include mq($from: tablet) {
            float: right;
        }
    }

        .site-nav__item {
            float: left;
        }

            .site-nav__link {
                color: $color-brand-dark;
                display: block;
                font-weight: 400;
                line-height: $nav-height - $inuit-global-spacing-unit-small * 2;
                padding: 0 $inuit-global-spacing-unit-small;
                position: relative;

                @include hocus() {
                    text-decoration: none;
                }

                .site-header--landing & {
                    color: $color-nav-link;

                    @include hocus() {
                        color: $color-nav-link;
                        text-decoration: underline;
                    }
                }

                &::before,
                &::after {
                    border-color: transparent;
                    border-style: solid;
                    left: 50%;
                    pointer-events: none;
                    position: absolute;
                }

                &::before {
                    border-bottom-color: $color-brand-primary;
                    border-width: 12px;
                    bottom: -$inuit-global-spacing-unit-small;
                    margin-left: -12px;
                }

                &::after {
                    border-bottom-color: $color-white;
                    border-width: 12px;
                    bottom: -($inuit-global-spacing-unit-small + 1);
                    margin-left: -12px;
                }

                .page--header-img &::after {
                    content: none !important;
                }
            }

            .page--about .site-nav__about,
            .page--pricing .site-nav__pricing {
                color: $color-link;

                &::before,
                &::after {
                    content: '';
                }
            }
