///* ========================================================================
//   #COLORS
//   ======================================================================== */

// Brand Colors

$color-brand-primary:               #f49142;
$color-brand-primary-highlight:     lighten($color-brand-primary, 10%);
$color-brand-primary-shadow:        darken($color-brand-primary, 10%);

$color-brand-secondary:             #f55d42;
$color-brand-secondary-highlight:   lighten($color-brand-secondary, 10%);
$color-brand-secondary-shadow:      darken($color-brand-secondary, 10%);

$color-brand-dark:                  #4c443d;

$color-brand-light:                 #f7efde; //hsl(41, 60, 92);


$color-black:       #000;
$color-dark-gray:   lighten($color-black, 20%);
$color-gray:        lighten($color-black, 50%);
$color-light-gray:  lighten($color-black, 95%);
$color-white:       #fff;

// Semantic color variables are daisy-chained onto their literal names.

$color-link:                    $color-brand-primary;
$color-link-hover:              $color-brand-primary-shadow;

$color-nav-link:                $color-white;

// $color-btn:                     #fff;
// $color-btn-bg:                  $color-brand-primary;
// $color-btn-hover-bg:            $color-brand-primary-shadow;

// $color-btn-secondary:           #fff;
// $color-btn-secondary-bg:        $color-brand-secondary;
// $color-btn-secondary-hover-bg:  $color-brand-secondary-shadow;

/**
 * Gradients
 */
$gradient-primary-bright:   $color-brand-primary;
$gradient-primary-dark:     $color-brand-secondary;

$gradient-primary:          linear-gradient(135deg, $gradient-primary-bright 0%, $gradient-primary-dark 100%);
$gradient-primary-hover:    linear-gradient(135deg, darken($gradient-primary-bright, 1%) 0%, darken($gradient-primary-dark, 5%) 100%);

$gradient-secondary-bright: $color-brand-secondary;
$gradient-secondary-dark:   darken($color-brand-secondary, 15%);

$gradient-secondary:        linear-gradient(135deg, $gradient-secondary-bright 0%, $gradient-secondary-dark 100%);
$gradient-secondary-hover:  linear-gradient(135deg, darken($gradient-secondary-bright, 1%) 0%, darken($gradient-secondary-dark, 5%) 100%);







