/* ==========================================================================
   #SHADOWS
   ========================================================================== */

.u-drop-shadow {
	box-shadow: 0 0 20px rgba($color-black, .1);
}

.u-receive-shadow {
	box-shadow: 0 0 20px rgba($color-black, .1) inset;
}

.u-text-shadow {
	@include text-shadow;
}

.u-text-heavy-shadow {
	@include text-shadow($op: 0.6);
}

.u-text-negative-shadow {
	@include text-shadow($type: negative);
}

.u-svg-shadow {
    filter: drop-shadow(2px 2px 3px rgba($color-black, .1));
}
